<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_ZuuQQIOyLHy8rayu9NksQPGoQt2C_Z4</string>
	<key>GCM_SENDER_ID</key>
	<string>656510254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myProjectBaws</string>
	<key>PROJECT_ID</key>
	<string>my-projekt-baws</string>
	<key>STORAGE_BUCKET</key>
	<string>my-projekt-baws.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656510254:ios:bae86b4bdac51fc4ce3ebf</string>
</dict>
</plist>